.house-collection {
  margin: 2rem;
}

.house-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 25rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}

.house-image {
  justify-self: center;
  height: 12rem;
  width: auto;
}

#houseview-image {
  height: 30rem;
}

.review-line-one {
  margin-bottom: 0;
}

form {
  padding: 15px;
}

.form-div {
  background-color: green;
  outline-style: groove;
  outline-width: 10px;
  outline-color: red;
  width: 440px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
  text-align: center;
  animation: fade .8s;
}
@keyframes fade {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

#x-button {
  float: right;
}

body {
  text-align: center;
}

.app {
  background-image: url("https://i.imgur.com/RnZ0sE0.png");
  background-size: 12%;
  background-repeat:repeat-y;
}

/* Create a top navigation bar with a black background color  */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}


.center {
  display: block;
  margin-left: 23.5%;
  margin-right: auto;
  width: 50%;
}